<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>feldman-club</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

    <body>
      <div class="container">
        <span class="pull-right">
      {% if user.is_anonymous %}


      {% include 'login.html' %}

      {% else %}
      {{ form.username.label_tag }}
      {{ user }}

<a href="{% url 'logout' %}" class="btn btn-primary">LOGOUT
  <span class="glyphicon glyphicon-log-out"></span></a>
  <a href="{% url 'password_change' %}" class="btn btn-warning">
    <span class="glyphicon glyphicon-lock"></span> Change Password</a>
      {% endif %}
    </span>
    </div>
    <div class="container">
 <div class="jumbotron">
    {% block content %}
    {% endblock content %}
    </div></div>

      {% if user.is_anonymous %}

      {% else %}
    <div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
    <li><a data-toggle="pill" href="#menu1">My Courses</a></li>
    <li><a data-toggle="pill" href="#menu2">My Blog</a></li>
    <li><a data-toggle="pill" href="#menu3">Forum</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>home</p>
        {% include 'tabs/home.html' %}
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>My Courses</h3>
      <p>my courses</p>
        {% include 'tabs/my_courses.html' %}
        <p><a href="quiz/" target="quiz"> Open quiz in a new tab</a></p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>My Blog</h3>
      <p>my blog</p>
      <p><a href="weblog/" target="weblog"> Open blog in a new tab</a></p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Forum</h3>
      <p><a href="forum/" target="forum"> Open forum in a new tab</a></p>

    </div>
  </div>
</div>
{% endif %}
        </body>
    </html>
