{% extends "base2.html" %}
{% load i18n %}

{% block content %}
<h3>{{quiz.title}}</h3>
<p>{{quiz.description}}</p>
<img src="{{MEDIA_URL}}{{quiz.figure}}"/>
<p>{{question}}</p>
<img src="{{MEDIA_URL}}{{question.figure}}"/>
<hr>
<form action="/quiz/exam/next/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<hr>
<a href="/quiz/exam/prev/">
  {% trans 'previous' %}
</a> |

<a href="/quiz/pre_final/">
  {% trans 'pre-final' %}
</a>|

<a href="/quiz/exam/next/">
  {% trans 'next' %}
</a>
{% endblock %}
