{% extends "base2.html" %}
{% load i18n %}

{% block content %}
<a href="#" class="btn btn-block btn-danger">{% trans 'wrong' %}</a>
<a href="#" class="btn btn-block btn-primary">{% trans 'Correct'  %}</a>
<a href="#" class="btn btn-block btn-default">{% trans 'missed' %}</a>
<h1>{% trans 'Final' %}</h1>

{% for x,i,qs in xi_list %}
{% if x is None %}
<a href="#" class="btn btn-block btn-default" title="{{qs}}">{{i}}</a>
{% elif x %}
<a href="#" class="btn btn-block btn-primary">{{i}}</a>
{% else %}
<a href="#" class="btn btn-block btn-danger" title="{{qs}}">{{i}}</a>
{% endif %}
{% endfor %}
<hr>
<a href="/map/">
{% trans "Map of your progress" %}
</a>|
<a href="http://hbtjournal.com/club/help.html#{{quiz.code}}" target="help">
<b>{% trans "Help" %}</b>
</a> |
<a href="/">
{% trans "Home" %}
</a>|

{% endblock %}
