{% extends "base1.html" %}
{% load i18n %}

{% block content %}
<h2>
{% trans 'Our Laureates' %}
</h2>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans 'User' %}
      </th>
    <th>
      username
        </th>
      <th>{% trans 'Quizes passed' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for x,y,z in qzs %}

    <tr>
  <th scope="row">{{z}}</th>
  <td>
       {{x.get_full_name}}
  </td><td>
       {{x}}
  </td><td>
  {{y}}
</td>
</tr>
  {% endfor %}
</tbody>
</table>

</p>
{% endblock %}
