{% extends "base2.html" %}
{% load i18n %}

{% block content %}
<a href="#" class="btn btn-block btn-info">{% trans 'answered' %}</a>
<a href="#" class="btn btn-block btn-default">{% trans 'missed' %}</a>
<h1>{% trans 'pre-final' %}</h1>
{% for x,i in mis_list %}
{% if x %}
<a href="#" class="btn btn-block btn-default">{{i}}</a>
{% else %}
<a href="#" class="btn btn-block btn-info">{{i}}</a>
{% endif %}
{% endfor %}
<h3>
<a href="/quiz/final/">{% trans 'Go Final' %}</a>
</h3>
<a href="/quiz/exam/">{% trans 'back to exam' %}</a>
{% endblock %}
